<head>
  <title>Rock, Paper, Scissors</title>
  <link rel=stylesheet type=text/css href=/site.css />
  <link rel=stylesheet type=text/css href=/index.css />
</head>
<body>
  <h1>Welcome to Rock, Paper Scissors! (MULTIPLAYER MODE)</h1>
  <p>What are your names?</p>

  <!-- action needs multiplayer from here-->
  <form action="/" method="post" class="basicForm">
    Player 1: <input type="text" name="name1" />
    Player 2: <input type="text" name="name2" />
    <input type="submit" value="Submit" />
  </form>
</body>
